html
{
    background: url(img/tibalt.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
#container
{
    font-family: 'PT Sans Narrow',sans-serif;
    font-weight: bold;
    color: white;
}

#header
{
    border: 1px solid darkslategrey;

    margin: 6px;
    padding: 4px 4px 4px 50px;

    background: black;
    color: white;

    max-width: 800px;
}

#deckBuilder
{
}

.pickerHeader
{
    margin: 6px;
    padding: 4px;

    font-weight: bold;
    font-size: 30px;
}

#checkBoxes
{
    border: 1px solid darkslategrey;

    margin: 6px;
    padding: 4px;

    float: left;

    background: black;
}
.colorCheck
{
    margin: 6px;
    padding: 4px;
}

.colorCheck:nth-child(2) input[type="checkbox"]
{
    display: none;
}
.colorCheck:nth-child(2) input[type="checkbox"] + label span
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 0 0 0;
    vertical-align: middle;
    background: url(img/white_low.png);
    background-size: 100px 100px;
}
.colorCheck:nth-child(2) input[type="checkbox"]:checked + label span
{
    background: url(img/mtg_white.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

.colorCheck:nth-child(3) input[type="checkbox"]
{
    display: none;
}
.colorCheck:nth-child(3) input[type="checkbox"] + label span
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 0 0 0;
    vertical-align: middle;
    background: url(img/black_low.png);
    background-size:  100px 100px;
}
.colorCheck:nth-child(3) input[type="checkbox"]:checked + label span
{
    background: url(img/mtg_black.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

.colorCheck:nth-child(4) input[type="checkbox"]
{
    display: none;
}
.colorCheck:nth-child(4) input[type="checkbox"] + label span
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 0 0 0;
    vertical-align: middle;
    background: url(img/blue_low.png);
    background-size: 100px 100px;
}
.colorCheck:nth-child(4) input[type="checkbox"]:checked + label span
{
    background: url(img/mtg_blue.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

.colorCheck:nth-child(5) input[type="checkbox"]
{
    display: none;
}
.colorCheck:nth-child(5) input[type="checkbox"] + label span
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 0 0 0;
    vertical-align: middle;
    background: url(img/red_low.png);
    background-size: 100px 100px;
}
.colorCheck:nth-child(5) input[type="checkbox"]:checked + label span
{
    background: url(img/mtg_red.png);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

.colorCheck:nth-child(6) input[type="checkbox"]
{
    display: none;
}
.colorCheck:nth-child(6) input[type="checkbox"] + label span
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 0 0 0;
    vertical-align: middle;
    background: url(img/green_low.png);
    background-size:  100px 100px;
}
.colorCheck:nth-child(6) input[type="checkbox"]:checked + label span
{
    background: url(img/mtg_green.png);
    background-size:  100px 100px;
    width: 100px;
    height: 100px;
}

#curveRadio
{
    border: 1px solid darkslategrey;

    margin: 6px;
    padding: 4px;

    float: left;

    background: black;
}
.curveCheck
{
    margin: 6px;
    padding: 4px;
}

.curveCheck:nth-child(2)
{
}
.curveCheck:nth-child(3)
{
}
.curveCheck:nth-child(4)
{
}

#creatureCountRadio
{
    border: 1px solid darkslategrey;

    margin: 6px;
    padding: 4px;

    float: left;

    background: black;
}
.creatureCountCheck
{
    margin: 6px;
    padding: 4px;
}

.creatureCountCheck:nth-child(2)
{
}
.creatureCountCheck:nth-child(3)
{
}
.creatureCountCheck:nth-child(4)
{
}

#submit
{
    margin: 6px auto;
    padding: 4px;
}
#submit input
{
    background: mediumpurple;
    border: 1px solid darkslategrey;
    color: black;
    font-size: 30px;
    font-weight: bold;

    margin: 6px;
    padding: 10px;
}

input[type="radio"]
{
    display: none;
}
input[type="radio"] + label span
{
    display: inline-block;

    width: 50px;
    height: 50px;

    margin: 0 0 0 0;
    vertical-align: middle;
    background: url(img/cmc0.png);
    background-size:  50px 50px;
}
input[type="radio"]:checked + label span
{
    background: url(img/cmc1.png);
    background-size:  50px 50px;

    width: 50px;
    height: 50px;
}